// Laptops
@media only screen and (max-width: 1600px) {
	.main-nav {
		padding: 0 1rem;
	}

	.games-section {
		&-content {
			.games-list {
				width: 110rem;
				max-width: 110rem;

				&-header {
					padding: 0 4rem;
				}

				&-items {
					.games-list-item {
						width: 15rem;
						height: 20rem;
					}
				}
			}
		}
	}

	.careers-section {
		&-content {
			padding: 5rem;
		}
	}
}

// Small laptops
@media only screen and (max-width: 1200px) {
	.main-nav {
		&-games {
			height: 36.5rem;

			&-content {
				&-blizzard {
					flex-basis: 70%;

					.main-nav-games-item {
						flex-basis: 14%;
					}
				}

				&-activision {
					flex-basis: 30%;
				}
			}
		}
	}

	.main-hero {
		&-slider-content {
			img {
				width: 24rem;
			}

			h2 {
				font-size: 6rem;
			}
		}

		.transition-bar {
			&-items {
				width: 40rem;

				.transition-bar-item {
					width: 6rem;
				}
			}
		}
	}

	.games-section {
		&-content {
			.games-list {
				width: 70rem;

				&-header {
					padding: 0 6rem;
				}

				&-items {
					.games-list-item {
						width: 17.5rem;
						height: 23rem;
					}
				}
			}
		}
	}

	.app-connectivity {
		flex-direction: column;
		padding: 0;
		border-top: 0.1rem solid #535353;
		border-bottom: 0.1rem solid #535353;

		&-desktop,
		&-app {
			flex-direction: column;
			align-items: flex-start;
			padding: 1rem 2rem;
			border: none;
			line-height: 2.5rem;
		}

		&-app {
			border-top: 0.1rem solid #535353;

			a {
				padding-left: 1rem;
			}
		}
	}

	.careers-section {
		height: 30rem;

		&-content {
			padding: 5rem;
		}
	}
}

// Tablets
@media only screen and (max-width: 960px) {
	.main-nav {
		.main-nav-item,
		#main-nav-logo {
			padding: 0.8rem 1.8rem 0.8rem 0;
		}

		#main-nav-logo {
			width: 9.5rem;
		}

		&-games-content {
			.main-nav-games-item {
				a {
					width: 5.5rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 840px) {
	.main-nav {
		&-games {
			height: 48rem;

			&-content {
				height: 43rem;

				&-blizzard {
					flex-basis: 63%;

					.main-nav-games-item {
						flex-basis: 20%;

						&:nth-of-type(n + 10) {
							flex-basis: 21%;
						}
					}
				}

				&-activision {
					flex-basis: 37%;

					ul {
						height: auto;

						.main-nav-games-item {
							margin-bottom: 1.5rem;
						}
					}
				}
			}
		}
	}
}

// Small Tablets
@media only screen and (max-width: 760px) {
	.main-nav {
		display: none;
	}

	.mobile-main-nav {
		display: block;
	}

	.main-hero {
		height: 41.5rem;

		&-slider {
			height: 40rem;
			background-size: cover;
			// background-position-x: 100rem;
			background: linear-gradient(
					rgba(0, 0, 0, 0) 0%,
					rgb(56, 24, 13) 80%
				),
				url(/images/hero-banner/hero-banner-4.jpg);
			background-size: 160rem;
			background-repeat: no-repeat;
			background-position: 75% 0%;
			background-attachment: local;

			&-content {
				height: 40rem;
				width: 100%;
				align-items: center;
				justify-content: end;
				margin: 0 auto;

				& > * {
					margin-bottom: 2rem;
				}

				img {
					width: 18rem;
				}

				h2 {
					text-align: center;
					font-size: 4.5rem;
					width: 40rem;
				}

				a {
					font-size: 1.8rem;
				}
			}
		}

		.transition-bar {
			height: 1.5rem;

			&-items {
				width: 100%;
				justify-content: space-around;

				.transition-bar-item {
					width: 16%;
					height: 0.3rem;
				}
			}
		}
	}

	.games-section {
		&-content {
			.games-list {
				width: 50rem;

				&-items {
					.games-list-item {
						justify-self: left;
					}
				}
			}
		}
	}

	.app-connectivity {
		& > div {
			padding: 1.7rem 1.5rem;
		}
	}

	.careers-section {
		height: 50rem;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background: linear-gradient(rgba(0, 0, 0, 0) 48%, rgb(29, 22, 14) 65%),
			url(/images/careers-banner/careers-1.jpeg);
		background-size: 120rem;
		background-repeat: no-repeat;
		background-position: top center;

		&-content {
			height: 18rem;
			width: 100%;
			padding: 0 2rem;
			align-items: center;

			h2 {
				font-size: 3rem;
			}

			h3 {
				text-align: center;
				margin-bottom: 2rem;
			}
		}
	}

	.main-footer {
		padding: 2rem;

		&-content {
			align-items: center;

			#footer-logo {
				width: 15rem;
			}

			.primary-footer-links {
				width: 35rem;
				font-size: 1.4rem;
				flex-wrap: wrap;
				line-height: 2.2rem;
				border-right: none;

				.footer-link:nth-of-type(4)::before {
					content: none;
				}
			}
		}
	}
}

// Mobile Phones
@media only screen and (max-width: 480px) {
	.main-hero {
		&-slider-content {
			img {
				width: 18rem;
			}

			h2 {
				font-size: 4.5rem;
			}
		}
	}

	.games-section {
		.games-list {
			width: 35rem;

			&-header {
				padding: 0 2rem;
				margin-bottom: 1rem;
			}

			&-items {
				.games-list-item {
					width: 15rem;
					height: 20rem;
					margin: 0 0.25rem 0.5rem;
				}
			}
		}
	}
}
