@media only screen and (max-width: 1600px) {
	#main-nav {
		padding: 0 1rem;
	}

	#main-hero {
		#transition-bar {
			&-items {
				width: 65rem;
			}
		}
	}

	#games-section {
		&-content {
			#games-list {
				width: 110rem;
				max-width: 110rem;

				&-header {
					padding: 0 4rem;
				}

				&-items {
					.games-list-item {
						width: 15rem;
						height: 20rem;
					}
				}
			}
		}
	}

	#careers-section {
		&-content {
			padding: 5rem;
		}
	}
}

@media only screen /*and (min-width: 760px) */ and (max-width: 1200px) {
	#main-hero {
		&-slider-content {
			padding: 5rem;
			height: 95%;

			img {
				width: 24rem;
			}

			h2 {
				font-size: 5rem;
			}
		}

		#transition-bar {
			&-items {
				width: 40rem;

				.transition-bar-item {
					width: 6rem;
				}
			}
		}
	}

	#games-section {
		&-content {
			#games-list {
				width: 70rem;

				&-header {
					padding: 0 6rem;
				}

				&-items {
					.games-list-item {
						width: 17.5rem;
						height: 23rem;
					}
				}
			}
		}
	}

	#app-connectivity {
		flex-direction: column;
		padding: 0;
		border-top: 0.1rem solid #535353;
		border-bottom: 0.1rem solid #535353;

		&-desktop,
		&-app {
			flex-direction: column;
			align-items: flex-start;
			padding: 1rem 2rem;
			border: none;
			line-height: 2.5rem;
		}

		&-app {
			border-top: 0.1rem solid #535353;

			a {
				padding-left: 1rem;
			}
		}
	}

	#careers-section {
		height: 30rem;

		&-content {
			padding: 5rem;
		}
	}
}

@media only screen and (max-width: 960px) {
	#main-nav {
		li {
			padding: 0.8rem 1.8rem 0.8rem 0;
		}

		#main-nav-left {
			#main-nav-logo {
				padding: 0.8rem 0;
			}
		}

		svg {
			transform: scale(0.8);
		}
	}
}

@media only screen and (max-width: 760px) {
	#main-hero {
		height: 41.5rem;

		&-slider {
			height: 40rem;
			background-size: cover;
			background-position-x: 100rem;

			&-content {
				height: 40rem;
				width: 100%;
				align-items: center;
				justify-content: center;
				margin: 0 auto;

				& > * {
					margin-bottom: 1.5rem;
				}

				h2 {
					text-align: center;
				}
			}
		}

		#transition-bar {
			height: 1.5rem;

			&-items {
				width: 100%;
				justify-content: space-around;

				.transition-bar-item {
					width: 16%;
					height: 0.3rem;
				}
			}
		}
	}

	#games-section {
		&-content {
			#games-list {
				width: 50rem;

				&-items {
					justify-items: left;

					.games-list-item {
						justify-self: left;
					}
				}
			}
		}
	}

	#app-connectivity {
		& > div {
			padding: 1.7rem 1.5rem;
		}
	}

	#careers-section {
		height: 38rem;

		&-content {
			padding: 2rem;
			justify-content: flex-end;
			align-items: center;

			h3 {
				text-align: center;
			}
		}
	}

	#main-footer {
		padding: 2rem;

		&-content {
			align-items: center;

			#footer-logo {
				width: 15rem;
			}

			#primary-footer-links {
				width: 35rem;
				font-size: 1.4rem;
				flex-wrap: wrap;
				line-height: 2.2rem;
				border-right: none;

				.footer-link:nth-of-type(4)::before {
					content: none;
				}
			}
		}
	}
}
// Mobile Phones
