#games-section {
	background-color: #002650;
	height: 62rem;
	color: #fff;

	&-content {
		background: url(/images/backgrounds/background-generic-landscape-short.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		height: 43rem;

		#games-list {
			margin: 0 35rem;
			padding-top: 3rem;

			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 2rem;

				h2 {
					font-size: 4.5rem;
					font-weight: 100;
				}

				a {
					color: #00aeff;
					font-size: 1.7rem;
				}
			}

			&-items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.games-list-item {
					width: 17.5rem;
					height: 23rem;
					margin: 0 1rem 2rem;
					border: 0.05rem solid rgba(255, 255, 255, 0.15);

					img {
						width: 100%;
						height: 100%;
						position: relative;
						object-fit: cover;
					}
				}
			}
		}
	}
}
