$primary-color: #002650;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1.6rem;
	font-family: Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

svg {
	fill: #009ae4;
}

sup { 
	// vertical-align: top;
	
	font-size: 0.8rem;
}

.main-nav {
	background-color: #0b0d12;
	height: 6rem;
	border-bottom: 0.1rem solid #2f3135;
	padding: 1rem;

	&-content {
		max-width: 1600px;
		height: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;

		#main-nav-logo {
			height: 100%;
			margin-right: 3rem;
			display: flex;
			align-items: center;

			svg {
				width: 8rem;
				height: 4rem;
			}
		}

		&-left,
		&-right {
			display: flex;
			align-items: center;
			height: 100%;
			font-size: 2rem;

			li {
				height: 100%;
				display: flex;
				align-items: center;
				margin-right: 3rem;

				a {
					display: flex;
					align-items: center;
					height: 100%;
					font-weight: 500;
					color: #9a9a9c;

					&:hover {
						color: #fff;
					}

					i {
						display: flex;
						align-items: center;
						margin-left: 0.5rem;
						font-size: 1.4rem;
					}
				}
			}
		}

		&-left {
			width: 50%;

			li {
				a {
					text-transform: uppercase;
				}
			}

			#main-nav-logo {
				&-svg {
					width: 10rem;
					height: 4rem;
				}
			}
		}

		&-right {
			flex: auto;
			justify-content: flex-end;
		}
	}
}

.main-nav-sub-menu-arrow {
	position: absolute;
	top: -0.8rem;
	width: 0; 
  	height: 0; 
  	border-left: 0.8rem solid transparent;
 	border-right: 0.8rem solid transparent;
  	border-bottom: 0.8rem solid #363c46;

	  &::after{
		content: "";
		position: absolute;
		top: 0.15rem;
		left: -0.7rem;
		width: 0; 
		height: 0;
		border-left: 0.7rem solid transparent;
		border-right: 0.7rem solid transparent;
		border-bottom: 0.7rem solid rgba(26,32,43,255);
	  }
}

// games sub menu
.main-nav-games {
	position: absolute;
	top: 6rem;
	left: 0;
	background-color: rgba(26,32,43,255);
	display: flex;
	width: 100%;
	height: 38rem;
	flex-wrap: wrap;
	visibility: hidden;
	z-index: 10;
	border-top: 0.1rem solid #363c46;

	.main-nav-sub-menu-arrow{
		left: 21.5rem;
	}

	&-content {
		display: flex;
		width: 160rem;
		height: 33rem;
		margin: 0 auto;
		padding: 2rem 1.5rem;
		border-bottom: 0.1rem solid #363c469f;

		&-blizzard,
		&-activision {
			padding: 0 2rem;

			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding-top: 2rem;
				height: 100%;
			}
		}

		&-blizzard {
			flex-basis: 82%;
			border-right: 0.1rem solid #a2a5aa3a;

			.main-nav-games-item {
				flex-basis: 11.1%;
			}
		}

		&-activision {
			flex-basis: 28%;

			.main-nav-games-item {
				flex-basis: 33.3%;
			}
		}

		.main-nav-games-title {
			width: 100%;
			text-transform: uppercase;
			font-weight: 400;
			font-size: 1.4rem;
			color: #a2a5aa;
		}

		.main-nav-games-item {
			opacity: 0;

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				font-size: 1.1rem;
				width: 6.6rem;
				height: 11rem;
				margin: 0 auto;
				color: #a2a5aa;
				text-align: center;
				line-height: 1.5rem;

				img {
					width: 6.4rem;
				}
			}

			&:hover {
				img {
					filter: brightness(115%);
				}

				span{
					filter: brightness(200%);
				}
			}
		}
	}

	&-footer {
		border-bottom: 0.1rem solid #363c46;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 5rem;
		opacity: 0;

		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 60rem;
		}

		a {
			display: flex;
			align-items: center;
			color: #a2a5aa;

			#main-nav-battlenet-logo {
				width: 2rem;
				margin-right: 0.2rem;
			}

			i {
				margin-right: 0.5rem;
				color: #00aeff;
			}
		}
	}
}

// esports sub menu
.main-nav-esports {
	position: absolute;
	top: 6rem;
	left: 0;
	background-color: rgba(26,32,43,255);
	width: 100%;
	visibility: hidden;
	border-top: 0.1rem solid #363c46;
	z-index: 10;

	.main-nav-sub-menu-arrow{
		left: 53.5rem;
	}

	&-content {
		padding: 1rem;
		border-bottom: 0.1rem solid #363c469f;

		&-competitions {
			display: flex;
			justify-content: space-around;
			width: 100rem;
			margin: 0 auto;
			padding: 1rem;

			li {
				width: 19rem;
				display: flex;
				justify-content: center;
				opacity: 0;

				a {
					display: flex;
					flex-direction: column;
					align-content: center;
					text-align: center;
					color: lightgrey;
					font-size: 1.3rem;
					line-height: 1.8rem;
					padding-bottom: 3rem;

					img {
						width: 19rem;
					}
				}
			}
		}
	}

	&-footer {
		display: flex;
		justify-content: center;
		padding: 1.5rem;
		border-bottom: 0.1rem solid #363c46;
		opacity: 0;

		a {
			color: lightgrey;

			i {
				color: #00aeff;
				margin-right: 0.5rem;
			}
		}
	}
}

// account sub menu
.main-nav-account{
	position: absolute;
	width: 32.5rem;
	background-color: rgba(26,32,43,255);
	top: 6rem;
	right: 2rem;
	visibility: hidden;
	z-index: 10;
	
	.main-nav-sub-menu-arrow{
		right: 3.8rem;
	}

	&-content {
		&-items{
			li {
				border-bottom: 0.1rem solid #363c46;
				padding: 1.5rem 2rem;
				display: flex;

				a {
					color: #afb2b6;

					i {
						color: #00aeff;
						margin-right: 0.5rem;
					}
				}

				&:first-of-type{
					padding: 2rem;
				}

				#log-in-button{
					border: 0.1rem solid #00aeff;
					background-color: #006fb2;
					padding: 1rem;
					width: 100%;
					text-align: center;
				}
			}
		}
	}
}

// MOBILE NAVS
// main
.mobile-main-nav {
	display: none;
	background-color: #0b0d12;
	height: 4.8rem;

	&-content {
		display: flex;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;

		i {
			color: #00aeff;
			align-self: center;
			font-size: 2rem;
			padding: 0.5rem;
			cursor: pointer;
		}

		#mobile-main-nav-logo {
			width: 6.5rem;
		}
	}
}

// hamburger & account navs
.mobile-hamburger-nav,
.mobile-account-nav {
	visibility: hidden;
	background: #151a23;
	position: absolute;
	top: 0;
	width: 45%;
	height: 100%;
	z-index: 10;

	a {
		color: #9a9a9c;
	}

	i {
		color: #00aeff;
		align-self: center;
		font-size: 2rem;
		padding: 0.5rem;
		cursor: pointer;
	}

	ul {
		display: flex;
		flex-direction: column;
		text-align: left;

		li {
			a {
				padding: 1.2rem 2rem;
				display: flex;
				align-items: center;

				i {
					font-size: 1.5rem;
					padding: 0 0.51rem;
				}
			}
		}
	}
}

// hamburger nav
.mobile-hamburger-nav {
	left: -35rem;
	transition: left 0.15s ease-in;

	&-primary {
		#mobile-hamburger-nav-logo {
			display: flex;
			margin: 0 auto;
			width: 12rem;
			padding: 0;

			svg {
				fill: #00aeff;
			}
		}

		li {
			border-bottom: 0.1rem solid #9a9a9c36;

			a {
				text-transform: uppercase;

				i {
					color: #9a9a9c;
				}
			}

			&:first-of-type {
				display: flex;
				padding: 1rem;

				i {
					align-self: flex-start;
				}
			}
		}
	}

	&-secondary {
		padding-top: 2rem;
	}
}

// account nav
.mobile-account-nav {
	right: -35rem;
	transition: right 0.15s ease-in;

	li {
		border-top: 0.1rem solid #9a9a9c36;

		&:first-of-type {
			border: none;
			text-align: right;
			padding: 1rem;
		}

		&:nth-of-type(2) {
			padding: 1.8rem;

			a {
				display: flex;
				justify-content: center;
				border: 0.1rem solid #00aeff;
				background-color: #006fb2;
				color: #fff;
			}
		}
	}
}

.background-overlay {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 4.8rem;
	width: 100vw;
	bottom: 0;
	z-index: 8;
	visibility: hidden;
}

// Hero
.main-hero {
	width: 100%;

	&-slider {
		background: url(/images/hero-banner/hero-banner-4.jpg);
		background-position: center;
		height: 51rem;

		&-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			padding: 8rem 10%;
			text-transform: uppercase;

			* {
				cursor: pointer;
			}

			img {
				width: 26rem;
			}

			h2 {
				font-size: 7rem;
				font-weight: 700;
				color: #fff;
				text-shadow: 0.5rem 2rem 2rem #1e120e;
				width: 50rem;
			}

			a {
				background-color: #006fb2;
				border: 0.1rem solid #00aeff;
				width: 20rem;
				height: 4.5rem;
				color: #fff;
				text-align: center;
				padding: 1.2rem;
				font-size: 1.9rem;

				&:hover{
					filter: brightness(110%);
				}
			}
		}
	}

	.transition-bar {
		height: 2.5rem;
		background-color: #0b0d12;
		border-bottom: 0.1rem solid #2f3135;

		&-items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 65rem;
			height: 100%;
			margin: 0 auto;

			.transition-bar-item {
				width: 10rem;
				height: 0.6rem;
				background-color: #858689;
				cursor: pointer;

				&:hover {
					background-color: #cecfd0;
				}
			}
		}
	}
}

// GAMES SECTION
.games-section {
	background-color: #002650;
	color: #fff;
	padding-bottom: 1rem;

	&-content {
		background: url(/images/backgrounds/background-generic-landscape-short.jpg);
		background-position: top center;
		background-repeat: no-repeat;

		.games-list {
			// width: 120rem;
			// max-width: 120rem;
			width: 132rem;
			margin: 0 auto;
			padding-top: 3rem;

			&-header {
				display: flex;
				justify-content: space-between;
				margin-bottom: 2rem;
				padding: 0 2rem;

				h2 {
					font-size: 4.5rem;
					font-weight: 100;
					align-self: center;
				}

				a {
					color: #00aeff;
					font-size: 1.7rem;
					align-self: flex-end;

					&:hover {
						color: #fff;
					}
				}
			}

			&-items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.games-list-item {
					width: 24rem;
					height: 32rem;
					margin: 0 1rem 2rem;
					position: relative;
					box-shadow: 0.5rem 1rem 1rem #0000003b;

					&:after {
						content: " ";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						border: solid 0.1rem rgba(255, 255, 255, 0.15);
					}

					&:hover {
						transform: scale(1.05);
						filter: brightness(110%);

						&:after {
							border: solid 0.1rem #00aeff70;
						}
					}

					img {
						width: 100%;
						height: 100%;
						position: relative;
						object-fit: cover;
					}
				}
			}
		}
	}
}

// APP CONNECTIVITY
.app-connectivity {
	background-image: url(/images/backgrounds/DesktopBG_Image.webp);
	background-size: cover;
	height: 46rem;
	border-top: 0.1rem solid #00aeff4d;
	border-bottom: 0.1rem solid #00aeff4d;
	padding: 7rem 5rem 5rem;
	color: #d0d0d2;
	position: relative;

	#battle-net-logo-bg {
		position: absolute;
		top: 28%;
		left: 52%;
		height: 25rem;
		opacity: 40%;
		z-index: 1;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		max-width: 160rem;
		margin: 0 auto;

		.battle-net-download {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			h2 {
				color: #fdfdfd;
				font-size: 4.5rem;
				font-weight: 200;
			}

			p:first-of-type {
				font-size: 2.5rem;
			}

			ul {
				li {
					line-height: 4rem;
					font-size: 2.5rem;
					i {
						margin-right: 1.5rem;
						color: #0099ff;
						font-size: 2rem;
					}
				}
			}

			a {
				color: #00acfc;
				border-bottom: 0.1rem solid #00acfc;
			}

			&-links {
				display: flex;
				margin: 1.5rem 0 2.5rem;

				a {
					border: 0.1rem solid #00aeff;
					padding: 1.2rem 1.5rem;
					text-decoration: none;
					font-size: 1.9rem;

					&:first-of-type {
						margin-right: 2rem;
						padding: 0.8rem 5rem;
						color: #f7fafd;
						background-color: #006fb2;

						i {
							color: #f7fafd;
							margin-left: 1rem;
							font-size: 2.5rem;
						}
					}
				}
			}
		}

		#battle-net-screen-shot,
		#battle-net-screen-shot-mobile {
			z-index: 2;
			width: 59rem;
			height: 33rem;
		}

		#battle-net-screen-shot-mobile {
			display: none;
			align-self: center;
		}

		#app-connectivity-mobile-btn {
			color: #fff;
			background-color: #006fb2;
			border: 0.1rem solid #00aeff;
			width: 20rem;
			padding: 1.2rem;
			align-self: center;
		}
	}
}

// CAREERS SECTION
.careers-section {
	height: 40rem;
	background-image: url(/images/careers-banner/careers-1.jpeg);
	background-position: top center;
	border-bottom: 0.1rem solid #1b3b61;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 5rem 18rem 5rem;
		color: #fff;

		h2 {
			font-size: 4rem;
			font-weight: 200;
			margin-bottom: 1rem;
		}

		h3 {
			font-size: 2.5rem;
			font-weight: 300;
			margin-bottom: 3rem;
		}

		a {
			background-color: #006fb2;
			width: 23rem;
			height: 4.5rem;
			color: #fff;
			text-align: center;
			padding: 1.2rem;
			font-size: 1.9rem;
			border: 0.1rem solid #00aeff;

			&:hover {
				filter: brightness(110%);
			}
		}
	}
}

// FOOTER
.main-footer {
	height: 42rem;
	background: url(/images/backgrounds/footer-bg-lg.jpg);

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		height: 100%;
		color: #fff;

		#location-selection {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 2.5rem;

			svg {
				height: 3rem;
			}

			form {
				select {
					width: 10rem;
					background: none;
					border: none;
					color: #fff;
					cursor: pointer;
					outline: none;
				}
			}
		}

		#footer-logo {
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;

			&-blizz {
				height: 7rem;
				fill: #00aeff;
			}

			&-enter {
				height: 2.5rem;
				fill: #fff;
			}
		}

		.footer-link {
			font-size: 1.6rem;
			filter: brightness(70%);

			a {
				text-transform: uppercase;
				cursor: pointer;
			}

			& + li::before {
				content: " ";
				display: inline-block;
				height: 1rem;
				width: 1rem;
				margin-right: 1rem;
				border-right: 0.1rem solid #fff;
			}

			&:hover {
				filter: brightness(100%);
			}
		}

		.primary-footer-links,
		.secondary-footer-links {
			display: flex;
			justify-content: center;
		}

		.primary-footer-links {
			margin-bottom: 2rem;
		}

		#trademark {
			margin-bottom: 0.5rem;
			font-size: 1.3rem;
			line-height: 2rem;

			p {
				filter: brightness(70%);

				span {
					font-weight: bold;
				}
			}
		}

		.footer-links {
			a {
				font-size: 1.2rem;
			}
		}
	}
}

// DOM STYLES

.toggle-visibility {
	visibility: visible;
}

.hmbg-mobile-menu-open {
	visibility: visible;
	left: 0;
}

.acc-mobile-menu-open {
	visibility: visible;
	right: 0;
}

.nav-overlay {
	filter: brightness(60%);
}

.active-link {
	i {
		transform: rotate(180deg);
	}
}

// Animations
@keyframes navImageFade {
	from {
		opacity: 0;
		transform: translateY(-15px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
