* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0b0d12;
  padding: 0 20rem;
}

#main-nav-left, #main-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-nav-left li, #main-nav-right li {
  height: 100%;
  padding: 0.8rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav-left li a, #main-nav-right li a {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #9a9a9c;
  font-weight: 500;
}

#main-nav-left li a img, #main-nav-right li a img {
  width: 8rem;
  height: 4rem;
}

#main-nav-left li a i, #main-nav-right li a i {
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

#main-nav-left {
  width: 50%;
}

#main-nav-left li a {
  text-transform: uppercase;
}

#main-nav-right {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#main-hero {
  width: 100%;
}

#main-hero-slider {
  background: url(https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt60051dbb0985b20f/5fab4db5a9e913483b74d202/OW_2020_Symmetra_sRestorationChallenge_Blizzard.comBanner_2500x514_MB01.webp?auto=webp&amp;format=pjpg);
  background: url(/images/hero-banner/hero-banner-4.jpg);
  background-position: center;
  height: 51.5rem;
  height: 51rem;
}

#main-hero-slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 70%;
  padding: 3rem 25rem 5rem;
}

#main-hero-slider-content img {
  width: 26rem;
}

#main-hero-slider-content h2 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-shadow: 0rem 1rem 2rem #535353;
}

#main-hero-slider-content a {
  background-color: #006fb2;
  width: 20rem;
  height: 4.5rem;
  color: #fff;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.9rem;
}

#main-hero #transition-bar {
  height: 2.5rem;
  background-color: #0b0d12;
}

#main-hero #transition-bar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  height: 100%;
  margin: 0 auto;
}

#main-hero #transition-bar-items .transition-bar-item {
  width: 10rem;
  height: 0.7rem;
  height: 0.6rem;
  background-color: #858689;
}

#games-section {
  background-color: #002650;
  height: 62rem;
  color: #fff;
}

#games-section-content {
  background: url(/images/backgrounds/background-generic-landscape-short.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 43rem;
}

#games-section-content #games-list {
  margin: 0 35rem;
  padding-top: 3rem;
}

#games-section-content #games-list-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#games-section-content #games-list-header h2 {
  font-size: 4.5rem;
  font-weight: 100;
}

#games-section-content #games-list-header a {
  color: #00aeff;
  font-size: 1.7rem;
}

#games-section-content #games-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#games-section-content #games-list-items .games-list-item {
  width: 17.5rem;
  height: 23rem;
  margin: 0 1rem 2rem;
  border: 0.05rem solid rgba(255, 255, 255, 0.15);
}

#games-section-content #games-list-items .games-list-item img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

#app-connectivity {
  background-color: #002650;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.1rem solid #535353;
  padding: 1.2rem;
}

#app-connectivity-desktop, #app-connectivity-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a9b2c0;
  font-size: 1.7rem;
}

#app-connectivity-desktop p, #app-connectivity-app p {
  margin-right: 0.5rem;
}

#app-connectivity-desktop a, #app-connectivity-app a {
  color: #00aeff;
}

#app-connectivity-desktop a i, #app-connectivity-app a i {
  margin-right: 0.5rem;
}

#app-connectivity-desktop {
  border-right: 0.1rem solid #858689;
  padding-right: 2rem;
}

#app-connectivity-desktop #battle-net-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app-connectivity-desktop #battle-net-logo svg {
  height: 3rem;
}

#app-connectivity-app {
  padding-left: 2rem;
}

#careers-section {
  background: url(/images/careers-banner/careers-1.jpeg);
  height: 40rem;
}

#careers-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 5rem 18rem 5rem;
  color: #fff;
}

#careers-section-content h2 {
  font-size: 4rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

#careers-section-content h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

#careers-section-content a {
  background-color: #006fb2;
  width: 23rem;
  height: 4.5rem;
  color: #fff;
  text-align: center;
  padding: 1.2rem;
  font-size: 1.9rem;
  border: 0.1rem solid #00aeff;
}

#main-footer {
  height: 42rem;
  background: url(/images/backgrounds/footer-bg-lg.jpg);
}

#main-footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100%;
  color: #fff;
}

#main-footer-content #location-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer-content #location-selection svg {
  height: 3rem;
}

#main-footer-content #location-selection form select {
  width: 10rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
}

#main-footer-content #footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-footer-content #footer-logo-blizz {
  height: 7rem;
}

#main-footer-content #footer-logo-enter {
  height: 3rem;
}

#main-footer-content .footer-link {
  font-size: 1.6rem;
  padding: 0 1.5rem;
  border-right: 0.1rem solid #fff;
}

#main-footer-content .footer-link a {
  text-transform: uppercase;
  cursor: pointer;
}

#main-footer-content .footer-link:last-of-type {
  border: none;
}

#main-footer-content #primary-footer-links,
#main-footer-content #secondary-footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-footer-content #primary-footer-links {
  margin-bottom: 2rem;
}

#main-footer-content #trademark {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

#main-footer-content #secondary-footer-links a {
  font-size: 1.2rem;
}
/*# sourceMappingURL=style.css.map */