#games-section {
	background-color: #002650;
	height: 62rem;
	color: #fff;

	&-content {
		background: url(/images/backgrounds/background-generic-landscape-short.jpg);
		background-position: top center;
		background-repeat: no-repeat;
		height: 43rem;

		#games-list {
			margin: 0 35rem;
			padding-top: 3rem;

			&-header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 2rem;

				h2 {
					font-size: 4.5rem;
					font-weight: 100;
				}

				a {
					color: #00aeff;
					font-size: 1.7rem;
				}
			}

			&-items {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

				.games-list-item {
					width: 17.5rem;
					height: 23rem;
					margin: 0 1rem 2rem;
					border: 0.05rem solid rgba(255, 255, 255, 0.15);

					img {
						width: 100%;
						height: 100%;
						position: relative;
						object-fit: cover;
					}
				}
			}
		}
	}
}

#app-connectivity {
	background-color: #002650;
	display: flex;
	justify-content: center;
	border-top: 0.1rem solid #535353;
	padding: 1.2rem;

	&-desktop,
	&-app {
		display: flex;
		justify-content: space-around;
		align-items: center;
		color: #a9b2c0;
		font-size: 1.7rem;

		p {
			margin-right: 0.5rem;
		}

		a {
			color: #00aeff;

			i {
				margin-right: 0.5rem;
			}
		}
	}

	&-desktop {
		border-right: 0.1rem solid #858689;
		padding-right: 2rem;

		#battle-net-logo {
			display: flex;

			svg {
				height: 3rem;
				// width: 2rem;
			}
		}
	}

	&-app {
		padding-left: 2rem;
	}
}

#careers-section {
	background: url(/images/careers-banner/careers-1.jpeg);
	height: 40rem;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 5rem 18rem 5rem;
		color: #fff;

		h2 {
			font-size: 4rem;
			font-weight: 200;
			margin-bottom: 1rem;
		}

		h3 {
			font-size: 2.5rem;
			font-weight: 300;
			margin-bottom: 3rem;
		}

		a {
			background-color: #006fb2;
			width: 23rem;
			height: 4.5rem;
			color: #fff;
			text-align: center;
			padding: 1.2rem;
			font-size: 1.9rem;
			border: 0.1rem solid #00aeff;
		}
	}
}
